<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhl.sportplay2.dao.OrderMapper">

    <insert id="addOrder">
        insert into `order` (activity_id, user_id)
        values (#{activityID}, #{userID})
    </insert>



</mapper>